<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="https://ih1.redbubble.net/image.475950724.2535/st,small,507x507-pad,600x600,f8f8f8.u6.jpg">
  <title>Imagenes de Markov</title>
</head>
<body>
  <section class="container mt-5 px-5">
    <div class="text-center">
      <img src="/static/logo.png" width="100px">
      <h1>Imágenes de Markov</h1>
      <form class="pt-5" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="custom-file text-justify">
          <input type="file" name="file" class="custom-file-input" id="file" width="80%" required>
          <label class="custom-file-label" for="file">Elige un archivo</label>
          <small class="form-text text-muted">Solo imagenes .jpg o tomadas con el celular</small>
        </div>
        <input type="submit" value="Subir" class="btn btn-primary mt-2">
      </form>
    </div>
  </section>
  <section class="container mt-5">
    <div class="text-justify">
      <h3>¿Qué es una cadena de Markov?</h3>
      <p>En terminos tecnicos podemos resumir que una cadena de markov es un <strong>grafo probabilistico</strong>. Para la gente que esta contextualizada este termino no les hara mucho sentido asi que procederemos a explicarlo.</p>
      <p>Un grafo es una coleccion de nodos y aristias, sirven para representar varias cosas de la vida real como ciudades donde cada nodo es un ciudad y cada arista la distancia entre cada una, ojo que este es un grafo ponderada ya que el peso de cada arista sera diferente este representando la distancia que hay de una ciudad a otra</p>
      <p>Un grafo probabilistico entonces seran nodos que estos (por ejemplo) pueden representar estados de un objeto, liquido, solido y gaseoso, los cuales podemos conectar mediante aristas. Donde estas aristas tendrian de peso la probabilidad que este elemento pase de un estado a otro, por ejemplo de liquido a gaseoso.</p>
      
      <h3>¿Qué hace esta haciendo esta página?</h3>
      <p>Podemos simplificar el proceso en dos partes: crea una cadena de markov y genera otra a partir de esa cadena</p>
      <p>Para generar una cadena de markov necesitamos datos previos para empezar a poder crear nuestro grafo, en este caso un imagen. Extraemos todos los pixeles y a partir de ellos podemos obtener la probailidad de que haya X pixel despues de Y recorriendolos todos mientras registramos frequencias.</p>
      <p>Por ultimo generamos una nueva imagen. Elegimos un pixel aleatoriamente y a partir de ahi empezamos a recorrer nuestro grafo con una caminata aleatoria siguiendo las probabilidades que fueron asignadas a cada pixel. Hacemos el proceso para 250,000 pixeles para generar una imagen de 500x500.</p>

      <h3>¿Por qué salio la imagen asi?</h3>
      <p>Entonces lo unico que queda por responder es, ¿Si todo esto tiene una relacion de cada pixel entre cada uno porque no sale una imagen con objetos mas claro? Lo que pasa es que a diferencia de nosotros un grafo probabilisitico no es inteligente.</p>
      <p>Nosotros conocemos el significado de los pixeles y las formas que crean cuando estan juntos, pero para una maquina o una cadena de markov son simplemente otra serie mas de pixeles que tiene que interpretas, ellos nos buscan encontrarle sentido.</p>
      <p>Por ultimo entonces el resultado que tenemos al final es una reogranizacion de los pixeles que tenemos, demostrando los colores dominantes y como una cierta interpretacion de que solo nosotros le damos sentido a una serie de pixeles.</p>
    </div>
  </section>
</body>
</html>